<h1> hello world </h1>

<ul>
<% @programs.each do |program|%>
<li><%= program.name %></li><br>
<li><%= program.duration %></li><br>
<li><%= program.cost %></li><br>
<li><%= program.contact_no %></li><br>
<% end %>
</ul>


<h2>here! to see if under progress is working</h2>
<ul>
<% @programs_users.each do |programuser|%>
<li><%= programuser.name %></li><br>
	<% end %>
</ul>