<%= form_with scope: :program, url: '/programs', local: true do |form| %>

  <%= form.collection_select :program_id, @programs, :id, :name, {}, {style: "display: block"} %>

<!--   <p>
    <%= form.label :user_id %><br>
    <%= form.text_area :user_id %>
  </p> -->

  <p>
    <%= form.submit %>
  </p>

  <p><%= current_user.id%></p>
<% end %>

<%= link_to 'Back', root_path %>