<div class="container">
	<div class='row'>
	</div>
	<div class='row white-text z-depth-2' style="background-color:#64B5F6; margin-top:15px; font-family:'ubuntu';">
		<div class='col s4 valign-wrapper' style='height:60px' >
			<span class='center-block'>Sort</span>
		</div>
		<div class='col s4 valign-wrapper'  style='font-size: 20px; height:60px; color:#000'>
			<span class='center-block' style='border: 2px solid black; padding:2px 8px; border-radius: 5px'>Fishtagrams</span>
		</div>
		<div class='col s4 valign-wrapper'  style='height:60px'>
			<div class='btnline2 center-block'>
				<%= link_to 'Submit a new post', new_fishtagram_path, :style=>'color:#fff'%>
			</div>
		</div>
	</div>
	<div class="row" style='border:2px solid black; display:flex;flex-wrap:wrap; margin-top:30px'>
		<% @fishtagrams.each do |fishtagram| %>
	  	<div class="cards-container" style="width:31%; padding:0; margin: 10px 10px">
	      <div class="card hoverable cardh" style="height:325px; max-height:325px">
	        <div class="card-image">
	          <img src=<%= fishtagram.img_url %>>
	        </div>
	        <div class="card-content">
	          <p class='truncate'><%= fishtagram.title %></p>
	        </div>
	        <div class="card-action">
	        	<% if current_user %>
		          <%= link_to 'Comment', new_fishtagram_comment_path(fishtagram) ,:class=> 'cardbtn' %>
		         <% end %>
	          <%= link_to 'View', fishtagram_path(fishtagram) ,:class=> 'cardbtn' %>
	          <% if current_user %>
		          <% if fishtagram.user_id == current_user.id %>
			          <%= link_to 'Edit', edit_fishtagram_path(fishtagram) ,:class=> 'cardbtn'%>
			          <%= link_to 'Delete', fishtagram_path(fishtagram),:class=> 'cardbtn' , method: :delete, data: { confirm: 'Are you sure?' } %>
			        <% end %>
		        <% end %>
	        </div>
	      </div>
	  	</div>
	  <% end %>
	</div>
</div>