<div class="container">
	<div class='row'>
	</div>
	<div class='row white-text z-depth-2' style="background-color:#64B5F6; margin-top:15px; font-family:'ubuntu';">
		<div class='col s4 valign-wrapper' style='height:60px' >
			<span class='center-block'>Sort</span>
		</div>
		<div class='col s4 valign-wrapper'  style='font-size: 20px; height:60px; color:#000'>
			<span class='center-block white-text' style='border: 2px solid white; padding:2px 8px; border-radius: 5px'>Fishtagrams</span>
		</div>
		<div class='col s4 valign-wrapper'  style='height:60px'>
			<div class='btnline2 center-block'>
				<%= link_to 'Submit a new post', new_fishtagram_path, :style=>'color:#fff'%>
			</div>
		</div>
	</div>
	<div class="row" style='display:flex; flex-wrap:wrap; margin-top: 30px'>
		<% @fishtagrams.each_with_index do |fishtagram, index| %>
		  <div class="col l4 m6 s12 center-align fishcol" style="margin-bottom:10px; margin-left:0px">
		  	<div class="cards-container">
		      <div class="card hoverable" style="height:333px; max-height:333px">
		        <div class="card-image" style="height:300px;">
		          <%= image_tag fishtagram.img_url %>
		          <a class="right" data-confirm="Are you sure?" rel="nofollow" data-method="delete" style="position:absolute; top:0; right:0" href="<%=fishtagram_path(fishtagram)%>"><i class="material-icons right fishicon">delete</i></a>
		        </div>
		        <div class="card-content" style="position: relative; margin-top:55px; background-color:#fff">
		          <p class='truncate'><%= fishtagram.title %></p>
		        </div>
		        <div class="card-action valign-wrapper">
		        	<div class='center-block'>
			          <a class="waves-effect waves-light btn-small" href="<%=fishtagram_path(fishtagram)%>"><i class="material-icons right">subject</i>view</a>

			          <%= link_to 'Comment', new_fishtagram_comment_path(fishtagram) ,:class=> 'cardbtn' %>

	          <%= link_to 'Edit', edit_fishtagram_path(fishtagram) ,:class=> 'cardbtn'%>
			        </div>
		        </div>
		      </div>
	  		</div>
	  	</div>
	  <% end %>
	</div>
</div>