<body class="teal lighten-2">

	<div class="container" style="margin-top:30px">
		<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
        	<div class='imgcardshow center'>
        		<%= image_tag @fishtagram.img_url, :style=>"max-width:400px"%>
        	</div>
          <span class="card-title"><%= @fishtagram.title %></span>
        </div>
        <div class="card-action">
        	<% @comments.each do |comment| %>
        		<div class="row" style="padding:10px; margin-bottom: 15px">
				      <div class="col" style="2px solid black"><span><%= comment.body %></span></div>
				      <% if current_user %>
					      <% if comment.user_id == current_user.id %>
						      <div class="col right"><span><%= link_to 'Destroy', fishtagram_comment_path(comment),
						        method: :delete,
						        data: { confirm: 'Are you sure?' } %></span></div>
						      <div class="col right"><span><%= link_to 'Edit', edit_fishtagram_comment_path(comment) %></span></div>
						    <% end %>
					    <% end %>
						</div>
					<% end %>
					<div class='divider'>
					</div>
					<div class='section'>
						<%= link_to 'Home page', fishtagrams_path %>
						<% if current_user %>
							<%= link_to 'Comment', new_fishtagram_comment_path(@fishtagram.id) ,:class=> 'cardbtn' %>
						<% end %>
					</div>
        </div>
      </div>
    </div>
  </div>

	</div>
</body>