	<div class="container" style="margin-top:30px">
		<div class="row">
	    <div class="col s12">
	      <div class="card">
	        <div class="card-content">
	        	<div class='imgcardshow center'>
	        		<%= image_tag @fishtagram.img_url, :style=>"max-width:400px"%>
	        	</div>
	          <span class="card-title"><%= @fishtagram.title %></span>
	        </div>
	        <div class="card-action">
	        	<% if @comments.length == 0 %>
	        		<h6>Looks like this comment section is still empty ):</h6>
	        	<% end %>
	        	<% @comments.each do |comment| %>
	        		<div class="row" style="padding:1px; margin-bottom: 15px">
							  <div class='row' style="margin:1px" >
							    <span style="font-size: 12px; color:#3E3E3E">
							     	@<%= comment.user.name %> :
							    </span>
							      <% if current_user %>
						      		<% if comment.user_id == current_user.id %>
									      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%=fishtagram_comment_path(comment)%>">
									      	<i class="material-icons right fishicon">delete</i>
									      </a>
									      <a href="<%=edit_fishtagram_comment_path(comment) %>">
									      	<i class="material-icons right fishicon">edit</i>
										    </a>
									    <% end %>
							  		<% end %>
							    </div>
							  <div class="row" style="margin:1px">
					      	<span><%= comment.body %></span>
					      </div>
					    </div>
						<% end %>
					</div>
					<div class='divider'>
					</div>
					<div class='section'>
						<% if current_user %>
							<a class="waves-effect waves-light btn-small" href="<%=new_fishtagram_comment_path(@fishtagram.id)%>" style="margin-left: 20px">
								<i class="material-icons right">create</i>Comment
							</a>
						<% else %>
								<a class="waves-effect waves-light btn-small" style="margin-left: 20px">
								<i class="material-icons right">create</i>Please Login
							</a>
						<% end %>
						<a class="waves-effect waves-light btn-small right btnflex" style="margin-right:20px" href="<%=root_path%>"><i class="material-icons right">home</i>Home</a>
						<a class="waves-effect waves-light btn-small right btnflex" style="margin-right:10px" href="<%=fishtagrams_path%>"><i class="material-icons right">create</i>Back</a>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>