<!DOCTYPE html>
<html>
  <head>
    <title>GoldfishTrainingProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="teal lighten-2">
  	<nav>
	    <div class="nav-wrapper">
	    	<div class="row" style="border: 2px solid green">
	    		<div class="col s4">
			      <a href="#" class="brand-logo" style="margin-left: 30px; border: 2px solid grey">Gold fish logo
			      </a>
			    </div>
			    <div class="col s4 center-align">
		     		Goldfish training program
		     	</div>
		     	<div class="col s4 right" style="border: 2px solid pink">
		      	<!-- user log in -->
			      <ul id="nav-mobile" class="right hide-on-med-and-down" style="border: 2px solid blue; padding: 0px; margin: 0px">
			      	<% if user_signed_in? %>
			        <li><%= link_to 'log out', destroy_user_session_url, method: :delete %></li>
			        <% else %>
							<li><%= link_to 'log in', new_user_session_url %></li>
							<% end %>
			      </ul>
			      <!-- End of user log in -->
			    </div>
			  </div>
	    </div>
	  </nav>
    <%= yield %>
  </body>
</html>