<!DOCTYPE html>
<html>
  <head>
    <title>GoldfishTrainingProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>

  </head>

  <body class="blue lighten-5">
  	<div>
	  	<nav style='min-height:70px'>
		    <div class="nav-wrapper" >
		    	<div class="row" >
		    		<div class="col s8 m4 offset-m4 center">
				      <div>
				      	<%= link_to root_path do %>
				      		<%= image_tag 'goldfish3.jpg', :class=>"logo" %>
				      	<% end %>
				      </div>
				    </div>
			     	<div class="col s4 m4">
			      	<!-- user log in -->
				      <ul>
				      	<li class="right"><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons" style="color:white">menu</i></a></li>
				      </ul>
				      <!-- End of user log in -->
				    </div>
				  </div>
		    </div>
		  </nav>
		</div>
	  <!-- MAIN -->
    <%= yield %>
    <!-- Side Nav stuff -->
    <div>
    	<ul id="slide-out" class="sidenav">
		    <li><div class="user-view">
		      <a href="#user"><%= image_tag 'goldfish3.jpg', :class=>"logo" %></a>
		      <a href="#name"><span class="white-text name">John Doe</span></a>
		      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
		    </div></li>

		    <!-- login/logout -->
		    <% if user_signed_in? %>
		    	<!-- first subheader -->
		    	<li><div class="divider"></div></li>
			    <li><a class="subheader">Welcome <%=current_user.name%>!</a></li>
		      <li class="col s6 offset-s6">
		        <%= link_to 'Log out', destroy_user_session_url, method: :delete %>
		      </li>
		    <% else %>
			    <!-- first subheader -->
			    <li><div class="divider"></div></li>
			    <li><a class="subheader">Login/sign up</a></li>
					<li><%= link_to 'Log in', new_user_session_url, :class => "waves-effect" %></li>
					<li><%= link_to "Sign up", new_user_registration_path, :class => "waves-effect" %></li>
				<% end %>
				<% if current_user %>
					<li><div class="divider"></div></li>
			    <li><a class="subheader">Enrolled in: </a></li>
		    <!-- First link -->
			    <% @enrolled.each do |programuser|%> 
				   	<li><a><%= programuser['name'] %></a></li>
				  <% end %>
			  <% end %>
		  </ul>
    </div>
    <!-- FOOTER -->
  <footer class="page-footer" style="padding:0;">
      <div class="row" style="margin:0">
        <div class="col l5 offset-l1 s12 center">
          <h5 class="white-text" style="font-family: 'Ubuntu';font-size:14px; margin-bottom: 20px">Do follow us on our social media</h5>
          <div class='row'>
          	<%= image_tag 'icons/001-youtube.png', :class=>"icons" %>
          	<%= image_tag 'icons/007-twitter-1.png', :class=>"icons" %>
          	<%= image_tag 'icons/023-facebook.png', :class=>"icons" %>
          	<%= image_tag 'icons/020-instagram.png', :class=>"icons" %>
          	<%= image_tag 'icons/017-pinterest.png', :class=>"icons" %>
	        </div>
        </div>
        <div class="col l5 s12 center">
          <h5 class="white-text" style="font-family: 'Ubuntu';font-size:14px">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!" style="font-family: 'Ubuntu';font-size:10px">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="min-height:16px">
      <div style="margin:0 20px; font-size: 11px">© 2020 Copyright</div>
    </div>
  </footer>
  </body>
</html>