<!DOCTYPE html>
<html>
  <head>
    <title>GoldfishTrainingProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= javascript_include_tag 'application' %>

  </head>

  <body class="teal lighten-2">
  	<nav>
	    <div class="nav-wrapper">
	    	<div class="row">
	    		<div class="col s4 left">
			      <div>Logo
			      </div>
			    </div>
			    <div class="col s4 center">
		     		Goldfish training program
		     	</div>
		     	<div class="col s4">
		      	<!-- user log in -->
			      <ul>
			      	<% if user_signed_in? %>
				        <li class="right"><%= link_to 'log out', destroy_user_session_url, method: :delete %></li>
				        <% else %>
								<li class="right"><%= link_to 'log in', new_user_session_url %></li>
							<% end %>
			      </ul>
			      <!-- End of user log in -->
			    </div>
			  </div>
	    </div>
	  </nav>
    <%= yield %>

  </body>
</html>