<!DOCTYPE html>
<html>
  <head>
    <title>GoldfishTrainingProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>

  </head>

  <body class="blue lighten-5">
  	<nav>
	    <div class="nav-wrapper">
	    	<div class="row">
	    		<div class="col s4 left">
			      <div>Logo
			      </div>
			    </div>
			    <div class="col s4 center">
		     		Goldfish training program
		     	</div>
		     	<div class="col s4">
		      	<!-- user log in -->
			      <ul>
			      	<% if user_signed_in? %>
				        <li class="right"><%= link_to 'log out', destroy_user_session_url, method: :delete %></li>
				        <% else %>
								<li class="right"><%= link_to 'log in', new_user_session_url %></li>
							<% end %>
			      </ul>
			      <!-- End of user log in -->
			    </div>
			  </div>
	    </div>
	  </nav>
    <%= yield %>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Do follow us on our social media</h5>
          <div class='row' style='border:2px solid black'>
          <p class="grey-text text-lighten-4">
          	<%= image_tag 'icons/001-youtube.png', :class=>"icons" %></p>
        </div>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  </body>
</html>