<!DOCTYPE html>
<html>
  <head>
    <title>GoldfishTrainingProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="teal lighten-2">
  	<nav>
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo" style="margin-left: 30px">Pinspiration</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      	<% if user_signed_in? %>
	        <li stlye="margin-right:30px"><%= link_to 'log out', destroy_user_session_url, method: :delete %></li>
	        <% else %>
					<li ><%= link_to 'log in', new_user_session_url %></li>
					<% end %>
	      </ul>
	    </div>
	  </nav>
    <%= yield %>
  </body>
</html>